{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<h1>Admin</h1>
    <form action="/admin" method="post">
        <div class="form-group">
            <input type="date" name="date" min={{ today }}>
        </div>
        <div class="form-group">
            <select name="timeslot">
                <option value="8:00 AM to 10:00 AM">8:00 AM to 10:00 AM</option>
                <option value="10:00 AM to 12:00 PM">10:00 AM to 12:00 PM</option>
                <option value="12:00 PM to 2:00 PM">12:00 PM to 2:00 PM</option>
                <option value="2:00 PM to 4:00 PM">2:00 PM to 4:00 PM</option>
                <option value="4:00 PM to 6:00 PM">4:00 PM to 6:00 PM</option>
                <option value="6:00 PM to 8:00 PM">6:00 PM to 8:00 PM</option>
            </select>
        </div>
        <div class="form-group">
           <button class="btn btn-dark" type="submit">Create Time Slot</button> 
        </div>
    </form>
    <h2>Pool Reservations</h2>
    <table style="width:100%" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Unit</th>
        </tr>  
    </thead>
    {% for slot in slots %}
    <tr>
        <td>{{ slot["date"] }}</td>
        <td>{{ slot["time"] }}</td>
        <td>{{ slot["unit"] }} </td>
    </tr>
    {% endfor %}
</table>
<h2>Available Times</h2>
    <table style="width:100%" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
        </tr>  
    </thead>
    {% for available_slot in available_slots %}
    <tr>
        <td>{{ available_slot["date"] }}</td>
        <td>{{ available_slot["time"] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}