{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<h1>Using the Pool During COVID-19</h1>
<p>In order to maintain social distancing to slow the spread of COVID-19, residents must now book time in the apartment pool.</p>
<p>Appointment bookings allow for up to three guests for a time span of two hours</p>
<p>Antibacterial wipes will be provided but due to constraints, cleaning staff will not be able to disinfect surfaces between use.</p>
<p>Please enjoy use of the pool and follow recommended safety guidelines!</p>
<p>For questions, please contact the main office.</p>
<img  src="/static/images/trio-pool.jpg" width="400" height="400" alt="Pool"></img>
{% endblock %}